/* Основные стили страницы */
body {
    font-family: 'Lobster', cursive; /* Применяем красивый шрифт */
    background: linear-gradient(135deg, #f6d0f0, #ffd4d4); /* Нежный градиент */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #3e2a47;
}

/* Заголовок */
h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #ff69b4; /* Розовый цвет для заголовка */
}

/* Кнопки */
.button {
    background-color: #ffb6c1;
    color: #3e2a47;
    padding: 18px 40px;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.6);
}

.button:hover {
    background-color: #ff69b4;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 105, 180, 0.8);
}

/* Контейнер для сердечек */
.heart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.heart {
    width: 120px;
    height: 120px;
    background-image: url('heart.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.6);
}

.heart:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 105, 180, 0.8);
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    color: #3e2a47;
    padding: 40px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.5);
}

.modal button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 5px 10px rgba(255, 105, 180, 0.7);
}

.modal button:hover {
    background-color: #ff3385;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.9);
}

/* Стиль для музыки */
audio {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.5);
}
